html{
    scroll-behavior: smooth;
    font-size:18px;
}

body{
    font-size:18px;
    font-family: "Roboto", sans-serif;
}

main{
    padding:1em;
    line-height:1.5
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Nunito", sans-serif
}

h1{
    font-size: 2.0em;
    line-height: 1.3;
    margin-block-end: 1em;
    font-weight:500;
    border-left:#006666 solid 4px;
    padding-left:.5em
}


h2{
    font-size: 1.75em;
    color: #373737;
    font-weight: 100;
    margin-block-end: .75em;
}

h3{
    font-size: 1.5em;
    margin-bottom: .5em;
    margin-block-end: .75em;
    font-weight: 300
}

h4{
    font-size: 1.2em;
    margin-block-end: .75em;
    font-weight: 400
}

h5{
    font-size: 1.1em;
    margin-bottom: .5em;
}


p {
    font-size: 1em;
    margin-block-end: 1em;
    font-weight: 300;
    font-family: "Roboto", sans-serif
}

p.text_white {
    color:#fff
}

p.subtitle{
    font-family: Nuntio, sans-serif;
    font-size: 1.1em;
    color: #515151;
    text-transform: uppercase;
    font-weight: 300;
    margin-top: -1em;

}


a{
    text-decoration: underline;
    color: #070707
}

a:hover {
    color: #006666
}

ul {
    line-height:1.5;
    margin-block-end: 1em;
    font-weight: 300;
    padding-left:2em;

}

ul li, ol li {
    margin-bottom: .5em;
}

ol {
    line-height:1.5;
    margin-block-end: 1em;
    font-weight: 300;
    font-size: .9em;
    max-width: 90%;
    min-width: 90%;
    padding-left:2em;
}


a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -50px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
  }

a.skip:focus{
    top:10px;
    color: black;
    text-decoration-style: solid;
}

main img {
      max-width:100%;
      margin-bottom: 2em;
      margin-top: 2em
}

h2 a {
    color: #AD035C;
    text-decoration: none
}

.btn_light{
    color: #fff;
    display: inline-block;
    background-color: transparent;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight:500;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:10px;
    padding-bottom: 10px;
    border-radius: 6px;
    border: 2px #fff solid;
    font-family: "Roboto", sans-serif;
    font-size: 1em;
}

.btn_light:hover, .btn_dark{
    color: #fff;
    display: inline-block;
    background-color: #AD035C;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight:500;
    padding-left: 20px;
    padding-right: 20px;
    padding-top:10px;
    padding-bottom: 10px;
    border-radius: 6px;
    border: 2px #AD035C solid;

}

.btn_dark:hover{
    opacity: 0.8
}

.btn_dark a{
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight:500;
    text-decoration: none;
    font-family: Roboto
    
}


  /* Header and nav styles */
header {
    position: fixed;
    background-color: #fff;
    width: 100%;
    /* padding-bottom: 1em; */
    box-shadow: 1px 2px 10px #00000059;
    z-index: 3;
}

.nav_wrapper {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    padding-right:1em;
    padding-left: 1em;
}

img#logo {
    align-self: center;
    width: 150px;
    margin-top: .5em;
}

nav ul {
    display: flex;
    flex-direction:row; 
    padding-top: .5em;
    padding-left: 0px;
    margin-block-end: 0px;
    justify-content: space-between;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    font-size: .9em;
}

nav li {
    padding-bottom: .5em;
    margin-bottom: 0
}

li.selected{
    /* background-color: #F4F4F4; */
    border-bottom: 5px solid #006666
}

li.selected a {
    color:  #006666
}


#main-content {
    position: relative;
    top: 160px;
    margin-bottom: 200px;
}

  /*End Header and nav styles */

  /*Start footer styles*/

  footer {
      background-color: #373737;
      max-width: 100%;
      position: sticky;
      min-height:150px;
      padding-top: 1em;
      padding-bottom: 1em;
      clear:both;
      padding-left: 1em;
      padding-right:1em;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
  } 
/*End footer styles*/

  /*Form styles*/

form{
    width: 100%;
    background-color: #f4f4f4;
    padding: .5em;
    border-radius: 3px;
    box-sizing: border-box;
}  

fieldset {
}

form input[type=text], form input[type=email] {
    margin-bottom: 1em;
    font-family: Nunito, sans-serif;
    font-size: .9em;
    max-width: 100%;
    min-width: 100%;
    padding: 10px 5px;
    box-sizing: border-box;
  }

form textarea{
    margin-bottom: 1em;
    font-family: Nunito, sans-serif;
    font-size: .9em;
    max-width: 100%;
    min-width: 100%;
    padding: 10px 5px;
    min-height: 150px;
    box-sizing: border-box;
}

form input.btn_dark {
    width: 100%;
    box-sizing: border-box;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    font-size: 1em
 
}

form label {
    font-family: "Nunito"
}

  /*End form styles*/

div.intro-text {
    padding-bottom:.5em;
    padding-top: 1em;
    margin-bottom: 1em;
    margin-top: .5em;
    background-color: #C0D7D7;
    border-radius:3px
}

div.intro-text > p {
    padding: .5em 1em;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.6

}

/*Gallery styles*/
div.gallery{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 2em;
}

div.gallery div:nth-child(odd){
    grid-column: 1/2;
    background-color: #f4f4f4;
    padding: 1em;
    border-radius: 3px

}

div.gallery div:nth-child(even){
    grid-column: 1/2;
    border: 2px solid #C0D7D7;
    padding: 1em;
    border-radius: 3px
}

/*End gallery styles*/

/*About page skills section*/

/* .my_skills div {
    display: grid;
    grid-template-columns: 33% 66%;

} */

/* Start case study details page */

div.persona-grid {
    display:grid;
    /* grid-template-columns: 1fr; */
    grid-template-rows: auto;
    row-gap: 1em;
    margin-bottom: 2em;
}


div.persona-grid img{
    box-shadow: 2px 0px 5px rgba(0, 0, 0, .2);
    max-width: 80%;
    margin:auto;
}

/* End case study details page */



/*End about page skills section*/

/*Start flip card styles*/

div.my_skills {
    display: grid
}

div.flip-card {
    background-color: transparent;
    width: 300px;
    height: 300px;
    perspective: 1000px;
    margin: 2em auto;
  }

div.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform .5s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  }

div.flip-card:hover div.flip-card-inner {
    transform: rotateY(180deg);
  }


  div.flip-card-front, div.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  div.flip-card-front {
    background-color: #C0D7D7;
    /* background-image: url("../images/pexels-tim-mossholder-1764702.jpg");
    background-size: 700px; */
  }
  
  div.flip-card-back {
    background-color: #006666;
    color: white;
    transform: rotateY(180deg);
  }

div.flip-card-back-content {
    position: relative;
    top: 25%;
}

div.flip-card-front-content {
    padding: 2em 1em;
    text-align: center;
}

div.flip-card-front-content > h3{
    font-size: 1.4em;
    line-height: 1.2;
}

div.flip-card-back-content > ul{
    list-style-type: None;
    text-align: center;
    padding-left: 0;
    font-size: 1.2em;
    font-weight: 500
}

div.my_skills img {
    width: 150px;
    padding: 0;
    margin-bottom: 0px;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    /* margin-left: 20px */
}




/*Start tablet styles*/

@media only screen and (min-width: 600px){

#main-content {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 2em;
    /* clear: both;
    margin-bottom: 200px */
}


/*Tablet header styles*/

.nav_wrapper {
    flex-direction: row;
    padding-bottom: .5em;
    padding-top: .5em;
    align-content: center;
    padding-left:2em;
    padding-right: 2em;
}

nav {
    width:200px;
    display: inline-block
}
nav ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 1em;
    margin-block-end: 0px;
    } 

nav li {
    padding-bottom: 2px;
    margin-bottom: 10px;
}

nav li a{
    padding-left: 8px;
}

li.selected{
    border-left: 3px solid #006666;
    border-bottom: 0px
}


/*End tablet header styles*/

header img {
    width: 225px;
    }

img#logo {
    padding-top: 0px;
    margin-top: 0px
}



/*Start tablet footer styles*/
footer {
    padding-left: 2em;
    padding-right: 2em;
}
/* Case study detail pages  */    
div.solution-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 2em;
}    

p.solution-intro {
    grid-column: 1/3;
}

div.solution-grid > h2 {
    grid-column: 1/3
}

div.feature-text-1, div.feature-text-3 {
    grid-column: 1/2
}

div.feature-text-1, div.feature-text-3 {
    grid-column: 1/2
}

div.feature-text-2 {
    grid-column: 2/3;
    padding-left: 1em
}

img.feature-image-2 {
    grid-column: 1/2;
    grid-row: 2/3;
    margin-top: 0em;
    max-height: 400px;
    /* justify-self: center; */
    /* align-self: center */

}

img.feature-image-1, img.feature-image-3 {
    margin-top: 0em;
    max-height: 400px;
    justify-self: center;
    grid-column: 2/3;
}


/* END case study detail pages  */  

/*Start persona cards*/
div.persona-grid {
    display:grid;
    grid-template-columns: 1fr, 1fr, 1fr;
    grid-template-rows: auto;
    column-gap: 1em;
}

div.persona-grid img{
    box-shadow: 2px 0px 5px rgba(0, 0, 0, .2);
    max-width: 100%;
}

img.persona-1 {
    grid-column: 1/2
}

img.persona-2 {
    grid-column: 2/3
}

img.persona-3 {
    grid-column: 3/4
}


/*End persona cards*/



div.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 2em;
}

div.gallery div:nth-child(odd){
    background-color: #f4f4f4;
    padding: 1em;
    border-radius: 3px;
    grid-column: 1/2;

}

div.gallery div:nth-child(even){
    border: 2px solid #C0D7D7;
    padding: 1em;
    border-radius: 3px;
    grid-column: 2/3
}


/*Contact form*/
form{
    width: 70%;
    padding: 2em;
}

form input.btn_dark {
    /* max-width: 0px; */
    width: 50%;
    padding: 10px 10px;
    margin-left: 50%;
}
}

/*Tablet flip card layout*/

div.my_skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
}


/*End tablet styles*/


/*Start desktop styles*/

@media only screen and (min-width: 992px){

body{
    scroll-behavior: smooth;
    font-size:20px;
}


#main-content {
    top: 200px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    /* clear: both;
    margin-bottom: 200px */
}


header {
    padding-bottom: 0;
    padding-left: 2em;
    padding-right: 2em;
    max-width: 100%;
    box-sizing: border-box
}

nav li {
    margin-bottom: 0px
}

.nav_wrapper {
    display: flex;
    flex-direction: row;
    padding-right:0em;
    padding-left: 0em;
    justify-content: space-between;
    padding-bottom: 0em;
}

header img#logo {
    width: 300px;
    margin-top: .4em;
    margin-bottom:.4em;
    }

img#logo {
    transition: 0.4s;

}

nav {
    width: 60%;
    max-width: 500px;
    align-self: flex-end;
    }


nav ul {
    display: flex;
    flex-direction:row; 
    padding-top: .5em;
    padding-left: 0px;
    margin-block-end: 0px;

} 



nav li a {
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 500;
    padding-right: 0;
    padding-left: 0px;

}

li.selected{
    background-color: #fff;
    border-bottom: 5px solid #006666;
    border-left: 0;
    padding-bottom:1em;
}

li.selected a {
    color:  #006666;

}

div.intro-text {
    padding-bottom:.5em;
    padding-top: 1em;
    margin-bottom: 3em;
    margin-top: .5em;
    background-color: #C0D7D7;
    max-width: 85%;
}

div.intro-text > p {
    padding: .5em 1em;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.6

}

div.gallery{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    gap: 2em;
}

div.gallery div.gal-1, div.gallery div.gal-4, div.gallery div.gal-7 {
    grid-column: 1/2;
}

div.gallery div.gal-2, div.gallery div.gal-5, div.gallery div.gal-8 {
    grid-column: 2/3;
}

div.gallery div.gal-3, div.gallery div.gal-6, div.gallery div.gal-9 {
    grid-column: 3/4;
}

div.gallery div:nth-child(odd){
    background-color: #f4f4f4;
    padding: 1em;
    border-radius: 3px;
}

div.gallery div:nth-child(even){
    border: 2px solid #C0D7D7;
    padding: 1em;
    border-radius: 3px
}






